################################################################################
# .NET Core
################################################################################
/.vs
bin/
obj/
publish/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Visual Studio
.vs/
*.sln.docstates

# User-specific files
*.rsuser
*.userprefs

# Rider
.idea/

# macOS
.DS_Store

# Replit
.cache/
.local/
.upm/
