@model July_Team.Models.Product
@{
    ViewData["Title"] = "تعديل المنتج"; Layout = "_Layout";

}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>


    <form asp-action="Edit" asp-route-id="@Model.Id" method="post">

        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3"><label asp-for="Name"></label><input asp-for="Name" class="form-control" /></div>
        <div class="mb-3"><label asp-for="Description"></label><textarea asp-for="Description" class="form-control"></textarea></div>
        <div class="mb-3"><label asp-for="Price"></label><input asp-for="Price" class="form-control" /></div>
        <div class="mb-3"><label asp-for="Stock"></label><input asp-for="Stock" class="form-control" /></div>
        <div class="mb-3"><label asp-for="ImageUrl"></label><input asp-for="ImageUrl" class="form-control" /></div>
        <div class="mb-3"><label asp-for="ImageUrl_Back"></label><input asp-for="ImageUrl_Back" class="form-control" /></div>
        <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
        <a asp-action="AdminIndex" class="btn btn-secondary">إلغاء</a>
    </form>
</div>
